body {
  font-size: 14px;
  margin: 0 auto;
  background-color: #27282d;
}
body .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}
a :hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header, footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #27282d;
}

header .container {
  max-width: 1250px;
  height: 150px;
  margin: 0 auto;
}
header .container .logo {
  width: 192px;
  height: 140px;
  float: left;
}
header .container .logo img {
  width: 100%;
  height: 100%;
  margin: 10px;
}
header .container .logo a {
  display: block;
}
header .container .search {
  float: right;
  margin: 40px 5px 0;
  border-bottom: 2px solid #1001f3;
}
header .container .search button, header .container .search input {
  height: 60px;
  border: none;
  background: none;
}
header .container .search #site-search {
  width: 300px;
  float: left;
}
header .container .search button {
  width: 100px;
  float: right;
  background: linear-gradient(#ffe60a, #1001f3);
  text-transform: uppercase;
}

#wrapper {
  width: 100%;
  max-width: 1250px;
  background-color: #27282d;
  padding: 25px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
}

p, .reviewBlock4 span, li {
  text-align: justify;
  font-family: PT Sans, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  color: #beb0ce;
  padding-top: 10px;
}

main {
  width: 70%;
  margin-right: 20px;
}
main section {
  width: 100%;
  border: 1px solid red;
}
main section .reviewBlock1 h1, main section .reviewBlock1 p, main section .reviewBlock1 img, main section .reviewBlock1 h2, main section .reviewBlock2 h1, main section .reviewBlock2 p, main section .reviewBlock2 img, main section .reviewBlock2 h2, main section .reviewBlock3 h1, main section .reviewBlock3 p, main section .reviewBlock3 img, main section .reviewBlock3 h2 {
  margin: 10px;
}
main section .reviewBlock1 h1, main section .reviewBlock1 h2, main section .reviewBlock2 h1, main section .reviewBlock2 h2, main section .reviewBlock3 h1, main section .reviewBlock3 h2 {
  text-align: center;
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #a2461f;
}
main section .reviewBlock1 a, main section .reviewBlock2 a, main section .reviewBlock3 a {
  text-align: center;
  display: block;
  padding: 15px;
  font-size: 16px;
  margin: 10px;
  border-radius: 3px;
  width: 100%;
  max-width: 275px;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #e42525;
  background-image: -webkit-linear-gradient(left, #e42525, #f75717);
  background-image: linear-gradient(91deg, #e42525 0, #f75717);
  box-shadow: 0 0 40px rgba(255, 77, 0, 0.45);
}
main section .reviewBlock1 img {
  width: 100%;
  max-width: 250px;
  float: left;
  display: block;
}
main section .reviewBlock2 img, main section .reviewBlock4 img {
  width: 50px;
  height: 50px;
  margin: 5px;
}
main section .reviewBlock2 .flex-container {
  border: 1px solid black;
}
main section .reviewBlock2 span {
  display: block;
  max-width: 150px;
  padding-top: 20px;
}
main section .reviewBlock3 h2 {
  text-align: center;
}
main section .reviewBlock3 img {
  width: 100%;
  max-width: 700px;
  max-height: 400px;
  margin: 10px auto;
  display: block;
}
main section .reviewBlock4 p {
  margin: 20px auto;
}
main section .reviewBlock4 h2 {
  text-align: center;
}
main section .reviewBlock4 ul {
  max-width: 675px;
  min-height: 50px;
  margin: 20px auto;
}
main section .reviewBlock4 li {
  display: inline-block;
  width: 100%;
}
main section .reviewBlock4 li:nth-child(odd) {
  background: #303133;
}
main section .reviewBlock4 li:before {
  content: "";
  background: url("../img/add.svg") no-repeat center;
  float: left;
  width: 31px;
  height: 28px;
  background-size: 31px 28px;
  padding: 5px;
}

aside {
  width: 30%;
}
aside ul {
  border: 1px solid black;
  margin: 0;
  padding: 10px;
}
aside ul li:before {
  content: "";
  background-image: url("../img/star.svg");
  display: inline-block;
  width: 31px;
  height: 28px;
  background-size: 31px 28px;
}
aside ul li a {
  text-decoration: underline;
  margin-left: 10px;
  vertical-align: top;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: super;
  text-decoration: none;
  color: #bdbcc1;
}
aside .topCasino {
  border: 1px solid black;
  margin-top: 10px;
}
aside .topCasino div {
  text-align: center;
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #a2461f;
}
aside .topCasino div:nth-child(even) {
  color: #bdbbc1;
}
aside .topCasino img {
  width: 100%;
  max-width: 250px;
  max-height: 120px;
  margin: 0 auto;
  display: block;
}
aside .topCasino span {
  text-align: center;
  display: block;
  margin: 5px 0;
  font-family: PT Sans, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #a99cb7;
}
aside .topCasino span:before {
  content: "";
  background-image: url("../img/icons/coins.svg");
  width: 33px;
  height: 28px;
  background-size: 33px 28px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  clear: both;
}
footer .flex-container {
  flex-direction: column;
}
footer .container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
}
footer .container span {
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 12px;
  color: #fff;
}
footer .container ul {
  list-style-type: none;
  margin: 0 auto;
}
footer .container ul li {
  display: inline-block;
  padding: 10px;
}
footer .container ul li a {
  text-decoration: underline;
}
footer .container ul li .f_links {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(#ffe501, #1015af);
  text-decoration: none;
}
footer #anchor {
  position: fixed;
  right: 32px;
  bottom: 32px;
  background: url(../img/icons/ua.png) no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer #anchor:hover {
  opacity: 1;
}

/* Smartphones (portrait and landscape) ----------- */
/* Styles */
/* Smartphones (landscape) ----------- */
/* Styles */
/* Smartphones (portrait) ----------- */
/* Styles */
/* iPads (portrait and landscape) ----------- */
/* Styles */
 * #wrapper
 * padding: 0 */
/* iPads (landscape) ----------- */
/* Styles */
 * #wrapper
 * padding: 0 */
/* iPads (portrait) ----------- */
/* Styles */
 * #wrapper
 * padding: 0 */
/* Desktops and laptops ----------- */
/* Styles */
/* Large screens ----------- */
/* Styles */
/* iPhone 4 ----------- */
/* Styles */

/*# sourceMappingURL=index.css.map */
