body {
  font-size: 14px;
  margin: 0 auto;
  background-color: #27282d;
  box-sizing: border-box; }
  body .clearfix::after {
    content: "";
    display: table;
    clear: both; }

* {
  box-sizing: border-box; }

ul, ol {
  margin: 0;
  padding: 0; }

a, a:hover, a:focus {
  text-decoration: none; }

li {
  list-style-type: none; }

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

header, footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #303135;
  position: relative;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92);
  -moz-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92);
  box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92); }

#wrapper, .container {
  max-width: 1250px;
  padding: 2px;
  margin: 0 auto; }

header .flex-container {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
header a {
  width: 192px;
  height: 140px;
  background: url("../img/logo.png") no-repeat center;
  background-size: 192px 140px;
  display: block; }
header .search {
  -webkit-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92);
  -moz-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92);
  box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92); }
header button, header input {
  height: 60px;
  border: none;
  background: none;
  outline: none; }
header #site-search {
  width: 300px;
  float: left;
  padding: 5px; }
header button {
  width: 100px;
  float: right;
  background: url("../img/search.svg") no-repeat center;
  background-size: 25px 25px;
  webkit-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92);
  -moz-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92);
  box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92); }

#wrapper {
  background-color: #27282d;
  padding: 5px; }

p, .reviewBlock1 span, li, table {
  text-align: justify;
  font-family: PT Sans, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  color: #beb0ce; }

.c_btn, .g_btn, .r_btn {
  text-align: center;
  display: block;
  padding: 15px;
  font-size: 16px;
  margin: 10px;
  border-radius: 3px;
  width: 100%;
  max-width: 275px;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #e42525;
  background-image: -webkit-linear-gradient(left, #e42525, #f75717);
  background-image: linear-gradient(91deg, #e42525 0, #f75717);
  box-shadow: 0 0 40px rgba(255, 77, 0, 0.45); }

.play_b {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  border: 1px solid black;
  width: 75%;
  height: 45%;
  margin: auto;
  padding: 15px 0; }

main {
  width: 70%;
  margin-right: 20px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
  -moz-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
  box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset; }

h1, p, img, h2, h3 {
  margin: 10px; }

h1, h2, h3 {
  text-align: center;
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #a2461f; }

img, table {
  width: 100%; }

.casino_review:before {
  content: "";
  background-image: url("../img/notes.svg");
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  display: inline-block;
  float: left;
  margin: 5px; }

.mainImage {
  max-width: 700px;
  max-height: 400px;
  margin: 0 auto;
  display: block; }

table {
  margin: 10px;
  border-collapse: collapse;
  margin: 0 auto; }
  table tr {
    margin: 10px auto;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
    -moz-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
    box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
    box-sizing: border-box; }
  table tr:nth-child(odd) {
    background: #303133; }
  table th {
    border-right: 1px solid #4d4d4e;
    width: 30%; }
  table th:before {
    content: "";
    background: url("../img/add.svg") no-repeat center;
    float: left;
    width: 31px;
    height: 28px;
    background-size: 31px 28px;
    padding: 5px; }
  table td {
    vertical-align: middle; }
  table span {
    display: block;
    max-width: 150px;
    padding-top: 20px; }
  table li {
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
    -moz-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
    box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset; }
  table li:nth-child(odd) {
    background: #303133; }
  table li:before {
    content: "";
    background: url("../img/add.svg") no-repeat center;
    float: left;
    width: 31px;
    height: 28px;
    background-size: 31px 28px;
    padding: 5px; }

.cas_l {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  .cas_l li {
    width: 200px;
    background: none;
    box-shadow: none;
    position: relative;
    display: inline-block; }

li:hover .play_b {
  display: block; }

.cas_l li:before {
  content: none; }

.cas_l li:hover .play_b {
  display: block;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase; }
.cas_l li:hover .g_btn {
  background-color: green; }
.cas_l li:hover .r_btn {
  background-color: red; }

table {
  border-collapse: collapse;
  text-align: center; }
  table tr {
    height: 50px; }
    table tr td {
      padding: 0 5px; }
      table tr td span {
        padding: 10px; }
      table tr td a {
        display: block;
        height: 50px;
        min-width: 90px; }
  table tr:nth-child(odd) {
    background: #303133; }

aside {
  width: 30%; }

#wrapper .flex-container {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

aside {
  text-transform: uppercase; }
  aside div {
    position: relative; }
  aside a, aside .topCasino {
    display: inline-block;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
    -moz-box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset;
    box-shadow: 0px 0px 11px -1px rgba(78, 75, 75, 0.92) inset; }
  aside a:before {
    content: "";
    background-image: url("../img/star.svg");
    width: 31px;
    height: 28px;
    background-size: 31px 28px;
    display: inline-block;
    vertical-align: middle; }
  aside > a {
    display: block;
    color: red; }
  aside .topCasino1:hover .play_b {
    display: block; }
  aside .topCasino1:hover img:hover {
    opacity: 0.1; }
  aside .topCasino {
    text-align: center; }
    aside .topCasino div {
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      color: #a2461f;
      padding-top: 5px; }
      aside .topCasino div img {
        width: 100%;
        max-width: 250px;
        max-height: 120px;
        margin: 0 auto;
        display: block; }
    aside .topCasino div:first-child {
      color: #bdbbc1; }
    aside .topCasino span {
      display: block;
      text-transform: none;
      margin: 5px 0;
      font-family: PT Sans, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      color: #a99cb7; }
    aside .topCasino span:before {
      content: "";
      background-image: url("../img/icons/coins.svg");
      width: 33px;
      height: 28px;
      background-size: 33px 28px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle; }

footer {
  clear: both; }
  footer .flex-container {
    flex-direction: column; }
  footer .container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    text-align: center; }
    footer .container span {
      display: block;
      text-align: center;
      margin: 10px;
      font-size: 12px;
      color: #fff; }
    footer .container ul {
      list-style-type: none;
      margin: 0 auto; }
      footer .container ul li {
        display: inline-block;
        padding: 10px; }
        footer .container ul li a {
          text-decoration: underline; }
    footer .container .f_links a {
      padding: 5px;
      display: inline-block; }
    footer .container .vk, footer .container .tw, footer .container .fb, footer .container .goo {
      vertical-align: middle;
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position: center; }
    footer .container .vk {
      background-image: url("../img/vk.svg"); }
    footer .container .tw {
      background-image: url("../img/tw.svg"); }
    footer .container .fb {
      background-image: url("../img/fb.svg"); }
    footer .container .goo {
      background-image: url("../img/goo.svg"); }
  footer #anchor {
    position: fixed;
    right: 32px;
    bottom: 32px;
    background: url(../img/icons/ua.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  footer #anchor:hover {
    opacity: 1; }

/* Smartphones (portrait and landscape) ----------- */
/* Styles */
/* Smartphones (landscape) ----------- */
/* Styles */
/* Smartphones (portrait) ----------- */
/* Styles */
/* iPads (portrait and landscape) ----------- */
/* Styles */
 * #wrapper
 * 	padding: 0 */
/* iPads (landscape) ----------- */
/* Styles */
 * #wrapper
 * 	padding: 0 */
/* iPads (portrait) ----------- */
/* Styles */
 * #wrapper
 * 	padding: 0 */
/* Desktops and laptops ----------- */
/* Styles */
/* Large screens ----------- */
/* Styles */
/* iPhone 4 ----------- */
/* Styles */

/*# sourceMappingURL=index.css.map */
